<div class="Edit-Modal">
    <label>Nom de la tâche</label><br />
    <input type="text" @bind="@Task.TaskName" /><br /><br />

    <label>Description de la tâche</label><br />
    <input type="text" @bind="@Task.TaskDesc" /><br /><br />

    <div style="display:flex;">
        <label style="margin-right: 0.5rem;">Active ? :</label>
        <label class="control control-checkbox">
            <input type="checkbox" @bind="@Task.isActive" />
            <span class="control_indicator"></span>
        </label>
    </div>
    <br />

    <div class="Button-Validate-Div">
        <button class="btn btn-primary Button-Open" @onclick="SubmitForm">Créer</button>
    </div>
</div>